.top-nav {
    display: flex;
    flex-wrap: wrap;
    font-size: 1.25em;
    justify-content: flex-end;
}

.top-nav > div {
    padding-right: 2%;
}

.input-search {
    display: flex;
    flex-wrap: wrap;
}

.input-search-items {
    flex: 1 0 auto;
}

.input-box {
    background: lightblue;
    padding: 2%;
    /*height: 240px;*/
}

.search-box {
    background: lightgray;
    padding: 2%;
    /*height: 240px;*/
}

.main-title {
    display: flex;
    flex-wrap: wrap;
}

.main-title-heading {
    flex: 1;
    background: lightcoral;
    color: white;
    text-align: center;
    padding: 2%;
    margin-top: 0;
}

.error {
    color: white;
    background: red;
    padding: 1%;
    margin-left: 3%;
}

.reset-button {
    margin-left: 1%;
    margin-right: 1%;
}

@media screen and (max-width: 768px) {

}